<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel="stylesheet" href="/stylesheets/desktop.css"/>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
  </head>
  <body>
  <div id="sidebar">
      <div id="controlPenal">
          <a href="/howto">
              <div id="howTo">
                  <i class="icon-question-sign"></i>
              </div>
          </a>
          <div id="next">
              <i class="icon-arrow-right"></i>
          </div>
          <div id="previous">
              <i class="icon-arrow-left"></i>
          </div>
          <div id="loading"><i class="icon-spinner icon-spin icon pull-left"> </i></div>
      </div>
      <div id="search"><input placeholder="Search"></div>
      <div id="thumbnail">
          <ul>
          </ul>
      </div>
  </div>

  <div id="content" class="content">
      <div id="imageZone"></div>
      <div id="tools">
          <div id="pencil" class="tool"><i class="icon-pencil"></i></div>
          <div id="flipHorizontal" class="tool"><i class="icon-resize-horizontal"></i></div>
          <div id="flipVertical" class="tool"><i class="icon-resize-vertical"></i></div>
          <div id="undo" class="tool"><i class="icon-reply"></i></div>
          <div id="redo" class="tool"><i class="icon-share-alt"></i></div>
          <!--<div id="saturation" class="tool"><i class="icon-filter"></i></div>-->
          <div id="download" class="tool"><i class="icon-cloud-download"></i></div>
      </div>
      <!--<div id="strength">-->
          <!--<input id='dimmer' type='range' min='0' max='100' step='1' value='15'>-->
      <!--</div>-->
      <div id="colour">
          <div id="red" class="tool"><i class="icon-circle" data-colour="#FF0000"></i></div>
          <div id="yellow" class="tool"><i class="icon-circle" data-colour="#FFFF00"></i></div>
          <div id="green" class="tool"><i class="icon-circle" data-colour="#98FB98"></i></div>
          <div id="blue" class="tool"><i class="icon-circle" data-colour="#6495ED"></i></div>
          <div id="purple" class="tool"><i class="icon-circle" data-colour="#9370DB"></i></div>
          <div id="white" class="tool"><i class="icon-circle" data-colour="#FFFFFF"></i></div>
          <div id="black" class="tool"><i class="icon-circle" data-colour="#000000"></i></div>
      </div>
  </div>
  <script data-main="/javascripts/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>
  </body>
</html>